*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
:root{
    --bgmain-color:linear-gradient(0, rgb(20, 119, 213), rgb(81, 168, 222));
    --bgsub-color:rgb(20, 119, 213);
    --sup-color: white;
    --text-color: rgba(6, 7, 75, 0.981);

    --item1-transform: translateX(-100%) translateY(-5%) scale(1.5);
    --item1-filter: blur(30px);
    --item1-zIndex: 11;
    --item1-opacity: 0;

    --item2-transform: translateX(-35%);
    --item2-filter: blur(0px);
    --item2-zIndex: 10;
    --item2-opacity: 1;

    --item3-transform: translate(50%,10%) scale(0.8);
    --item3-filter: blur(10px);
    --item3-zIndex: 9;
    --item3-opacity: 1;

    --item4-transform: translate(90%,20%) scale(0.5);
    --item4-filter: blur(30px);
    --item4-zIndex: 8;
    --item4-opacity: 1;
    
    --item5-transform: translate(120%,30%) scale(0.3);
    --item5-filter: blur(40px);
    --item5-zIndex: 7;
    --item5-opacity: 0;
}
.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-image: var(--bgmain-color);
    height: 70px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo h2{
    padding: 0;
    margin: 0;
}
.logo h2 a{
    color: var(--sup-color);
    font-size: 1.5rem;
}
ul{
    margin: 0;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bar a{
    padding: 12px 18px;
    color: var(--sup-color);
}
.nav-bar a:hover{
    background-color: var(--sup-color);
    transform: translateY(-5px);
    border-left: 4px solid rgb(255, 129, 129);
    transition: all .3 ease-in;
    color: var(--bgsub-color);
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons a{
    font-size: 1.8rem;
    color: var(--sup-color);
    margin-left: 15px;
}

.icons a:hover,.icons .search-icon:hover{
    opacity: 0.7;
}
.search{
    border-color: rgba(0,0,0,0.3);
    display: flex;
    height: 85%;
}
.search input{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border:none;
    outline: none;
}
.search i{
    height: 100%;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
.search .search-icon{
    color:rgba(0,0,0,0.5);
    font-size: 1.8rem;
    background-color: var(--sup-color);
}
.search .search-icon:hover{
    cursor: pointer;
}
.topic-carousel{
    margin: 0;
    padding: 20px 10px;
    margin: 80px 50px 0 50px;
    display: block;
    border-top: 1px solid rgba(0,0,0,0.2);
}
.mCarousel{
    position: relative;
    height: 600px;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid rgb(81, 168, 222);
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
.mCarousel .list{
    position: absolute;
    width: 1140px;
    max-width: 90%;
    height: 80%;
    left: 50%;
    transform: translateX(-50%);
}
.mCarousel .list .item{
    position: absolute;
    left: 0%;
    width: 70%;
    height: 100%;
    font-size: 15px;
    transition: left 0.5s, opacity 0.5s, width 0.5s;
}
.mCarousel .list .item:nth-child(n + 6){
    opacity: 0;
}
.mCarousel .list .item:nth-child(2){
    z-index: 10;
    transform: translateX(0);
}
.mCarousel .list .item img{
    width: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: right 1.5s;
}

.mCarousel .list .item .introduce{
    opacity: 0;
    pointer-events: none;
}
.mCarousel .list .item:nth-child(2) .introduce{
    opacity: 1;
    pointer-events: auto;
    width: 400px;
    position: absolute;
    top: 50%;
    transform:  translateY(-50%);
    transition: opacity 0.5s;
}
/* .mCarousel .list .item .introduce .title{
    font-size: 2em;
    font-weight: 500;
    line-height: 1em;
} */
.mCarousel .list .item .introduce .topic{
    font-size: 4em;
    font-weight: 500;
}
.mCarousel .list .item .introduce .des{
    font-size: small;
    color: #5559;
}
.mCarousel .list .item .introduce .seeMore{
    font-family: Poppins;
    margin-top: 1.2em;
    padding: 5px 0;
    border: none;
    border-bottom: 1px solid #555;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 3px;
    transition: background 0.5s;
}
.mCarousel .list .item .introduce .seeMore:hover{
    background: #eee;
}
.mCarousel .list .item:nth-child(1){
    transform: var(--item1-transform);
    filter: var(--item1-filter);
    z-index: var(--item1-zIndex);
    opacity: var(--item1-opacity);
    pointer-events: none;
}
.mCarousel .list .item:nth-child(3){
    transform: var(--item3-transform);
    filter: var(--item3-filter);
    z-index: var(--item3-zIndex);
}
.mCarousel .list .item:nth-child(4){
    transform: var(--item4-transform);
    filter: var(--item4-filter);
    z-index: var(--item4-zIndex);
}
.mCarousel .list .item:nth-child(5){
    transform: var(--item5-transform);
    filter: var(--item5-filter);
    opacity: var(--item5-opacity);
    pointer-events: none;
}
/* animation text in item2 */
.mCarousel .list .item:nth-child(2) .introduce .title,
.mCarousel .list .item:nth-child(2) .introduce .topic,
.mCarousel .list .item:nth-child(2) .introduce .des,
.mCarousel .list .item:nth-child(2) .introduce .seeMore{
    opacity: 0;
    animation: showContent 0.5s 1s ease-in-out 1 forwards;
}
@keyframes showContent{
    from{
        transform: translateY(-30px);
        filter: blur(10px);
    }to{
        transform: translateY(0);
        opacity: 1;
        filter: blur(0px);
    }
}
.mCarousel .list .item:nth-child(2) .introduce .topic{
    animation-delay: 1.2s;
}
.mCarousel .list .item:nth-child(2) .introduce .des{
    animation-delay: 1.4s;
}
.mCarousel .list .item:nth-child(2) .introduce .seeMore{
    animation-delay: 1.6s;
}
/* next click */
.mCarousel.next .item:nth-child(1){
    animation: transformFromPosition2 0.5s ease-in-out 1 forwards;
}
@keyframes transformFromPosition2{
    from{
        transform: var(--item2-transform);
        filter: var(--item2-filter);
        opacity: var(--item2-opacity);
    }
}
.mCarousel.next .item:nth-child(2){
    animation: transformFromPosition3 0.7s ease-in-out 1 forwards;
}
@keyframes transformFromPosition3{
    from{
        transform: var(--item3-transform);
        filter: var(--item3-filter);
        opacity: var(--item3-opacity);
    }
}
.mCarousel.next .item:nth-child(3){
    animation: transformFromPosition4 0.9s ease-in-out 1 forwards;
}
@keyframes transformFromPosition4{
    from{
        transform: var(--item4-transform);
        filter: var(--item4-filter);
        opacity: var(--item4-opacity);
    }
}
.mCarousel.next .item:nth-child(4){
    animation: transformFromPosition5 1.1s ease-in-out 1 forwards;
}
@keyframes transformFromPosition5{
    from{
        transform: var(--item5-transform);
        filter: var(--item5-filter);
        opacity: var(--item5-opacity);
    }
}
/* previous */
.mCarousel.prev .list .item:nth-child(5){
    animation: transformFromPosition4 0.5s ease-in-out 1 forwards;
}
.mCarousel.prev .list .item:nth-child(4){
    animation: transformFromPosition3 0.7s ease-in-out 1 forwards;
}
.mCarousel.prev .list .item:nth-child(3){
    animation: transformFromPosition2 0.9s ease-in-out 1 forwards;
}
.mCarousel.prev .list .item:nth-child(2){
    animation: transformFromPosition1 1.1s ease-in-out 1 forwards;
}
@keyframes transformFromPosition1{
    from{
        transform: var(--item1-transform);
        filter: var(--item1-filter);
        opacity: var(--item1-opacity);        
    }
}

.arrows{
    position: absolute;
    bottom: 25%;
    width: 1140px;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%) ;
}
#prev,
#next{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-family: monospace;
    border: 1px solid #5555;
    font-size: large;
    bottom: 20%;
    left: 10%;
}
#next{
    left: unset;
    right: 10%;
}

.mCarousel::before{
    width: 500px;
    height: 300px;
    content: '';
    background-image: linear-gradient(70deg, #2a65dc, blue);
    position: absolute;
    z-index: -1;
    border-radius: 20% 30% 80% 10%;
    filter: blur(150px);
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
    transition: 1s;
}
.shopnow{
    position: absolute;
    bottom: 15%;
    right: 45%;
    padding: 20px 35px;
    background-color: var(--bgsub-color);
    color: var(--sup-color);
    border-radius: 5px;
}
.shopnow:hover{
    background-color: var(--sup-color);
    color: var(--bgsub-color);
}
/* .mCarousel.showDetail::before{
    transform: translate(-100%, -50%) rotate(90deg);
    filter: blur(130px);
} */

.footer-contact{
    padding: 25px 30px;
    margin: 20px 60px;
    border-top: 1px solid rgba(0,0,0,0.3);
}
.footer-item a{
    color: var(--text-color);
}
.footer-item p{
    margin: 0;
    padding: 0;
}
.social-platform i{
    font-size: 30px;
}
.footer-last{
    padding: 10px 60px;
    border-top: 1px solid rgba(0,0,0,0.3);
    margin: 0 60px;
}
#shop{
    position: relative;
}
.list-product{
    position:absolute;
    width: auto;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.2);
    margin-top:10px;
    display: none;
}
#shop ul{
    padding: 0;
    margin: 0;
}
.list-product a{
    color: var(--text-color);
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 5px 8px;
}

.list-product a:hover{
    background-color: rgba(0,0,0,0.4);
    color: white;
    transform: none;
    border:none;
}
#shop:hover .list-product{
    display: block;
}
#menu-bar{
    font-size: 2.5rem;
    display: none;
}
#menu-bar:hover{
    cursor: pointer;
}
.benefits-contain{
    margin: 15px 60px;
    padding: 15px 15px;
    border-top:4px solid var(--bgsub-color);
}
.benefits-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-size: 1.2rem;
}
.benefits-item .icon{
    color: var(--bgsub-color);
    font-size: 1.8rem;
}

/* responsive */
@media(max-width:1250px){
    .search input{
        display: none;
    }
    .search .search-icon{
        color: var(--sup-color);
        background-color:transparent;
    }
    .icons a{
        margin-left: 8px;
    }
    .mCarousel{
        height: 450px;
    }
    .mCarousel .list .item img{
        width: 45%;
    }
    .mCarousel .list .item:nth-child(2) .introduce{
        width: 340px;
    }
    .mCarousel .list .item .introduce{
        width: 340px;
    }
    .mCarousel .list .item .introduce .topic{
        font-size: 3em;
        font-weight: 500;
    }
    .mCarousel .list .item .introduce .des{
        font-size: 14px;
    }
}
@media(max-width:1010px){
    .header{
        height: 55px;
    }
    .header .logo{
        margin-left: 30px;
    }
    .header ul{
        padding: 0;
    }
    .nav-bar{
        position: absolute;
        right: 0;
        left: 0;
        flex-direction: column;
        background-color: var(--sup-color);
        transform: translateY(-150%);
        box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.7);
        box-sizing: border-box;
        justify-content: flex-start;
        transition: all 0.70s ease;
    }
    .nav-bar.active{
        transform: translateY(140px);
    }
    .nav-bar li{
        display: block;
        width: 100%;
    }
    .nav-bar a{
        display: block;
        width: 100%;
        color: var(--text-color);
    }
    .nav-bar a:hover{
        background-color: var(--text-color);
        color: var(--sup-color);
        transform: translate(0,0);
        border: none;
    }
    #menu-bar{
        display: block;
        position: absolute;
        left: 10px;
        color: var(--sup-color);
    }
    .search input{
        display: initial;
    }
    .search .search-icon{
        display: initial;
        color:rgba(0,0,0,0.5);
        background-color: var(--sup-color);
    }
    .mCarousel .list .item{
        width: 90%;
    }
    .benefits-item{
        justify-content: flex-start;
    }
    .benefits-item:nth-child(3){
        margin-top: 10px;
    }
}
@media screen and (max-width: 770px){
    /* mobile */
    .mCarousel{
        height: 420px;
    }
    .mCarousel .list .item{
        width: 100%;
        font-size: 1rem;
    }
    
    .mCarousel .list{
        height: 100%;
    }
    .mCarousel .list .item:nth-child(2) .introduce{
        width: 50%;
    }
    
    .mCarousel .list .item:nth-child(2) .introduce .des{
        height: 100px;
        overflow: hidden;
    }
    .mCarousel .list .item .introduce .seeMore{
        margin-top: 0;   
    }
    .arrows{
        bottom: 25px;
    }
    .benefits-item{
        margin-top: 10px;
    }
    .shopnow{
        bottom: 10%;
        padding: 18px 32px;
    }
}
@media(max-width:600px){
    .search input{
        display: none;
    }
    .search .search-icon{
        color: var(--sup-color);
        background-color:transparent;
    }
    .mCarousel{
        height: 450px;
    }
    .mCarousel .list .item:nth-child(2) .introduce{
        width: 40%;
    }
    .benefits-contain{
        margin-left: 0;
        margin-right: 0;
    }
    .shopnow{
        bottom: 10%;
        padding: 14px 26px;
        right: 35%;
    }
}
@media(max-width:500px){
    .shopnow{
        bottom: 7%;
        padding: 10px 22px;
        right: 25%;
    }
}
@media(max-width:400px){
    #menu-bar{
        display: block;
        position: absolute;
        left: 4px;
        color: var(--sup-color);
    }
    .mCarousel{
        height: 230px;
    }
    .mCarousel .list .item .introduce .seeMore{
        margin-top: 0;   
        padding: 0;
        font-size: 10px;
    }
    .mCarousel .list .item .introduce .topic{
        font-size: 1.2em;
        font-weight: 500;
    }
    .arrows{
        bottom: 3px;
    }
    .footer-contact{
        padding: 25px 30px;
        margin: 20px 10px;
        border-top: 1px solid rgba(0,0,0,0.3);
    }
    .footer-last{
        padding: 10px 20px;
        border-top: 1px solid rgba(0,0,0,0.3);
        margin: 0 10px;
    }
    .shopnow{
        bottom: 8%;
        padding: 8px 16px;
        right: 18%;
    }
}
@media(max-width:320px){
    .mCarousel .list .item .introduce .topic{
        font-size: 1em;
        font-weight: 500;
    }
    .mCarousel .list .item .introduce .des{
        font-size: 0.8rem;
        font-weight: 500;
    }
}
